# Compiled bytecode
*.class

# Package Files
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# Maven related
target/
*.log
*.tmp
*.bak
*.swp
*~.nib
*.lastUpdated
*.recommenders

# Build artifacts and directories
dist/
build/

# IDE-specific settings
# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

# Eclipse
.classpath
.project
.settings/
bin/

# NetBeans
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# OS-specific files
.DS_Store
Thumbs.db

# Other
*~
*.tokens
local.properties

# Log files and crash reports
*.log
hs_err_pid*
replay_pid*
